[Unit]
Description=linuxmuster.net WebUI
After=network.target

[Service]
Type=forking
PIDFile=/var/run/ajenti.pid
ExecStart=/usr/bin/python3 /usr/local/bin/ajenti-panel -d --stock-plugins --plugins /usr/lib/linuxmuster-webui/plugins

[Install]
WantedBy=multi-user.target
