[Unit]
Description=linuxmuster.net WebUI
After=network.target

[Service]
Type=forking
PIDFile=/var/run/ajenti.pid
ExecStart=/opt/linuxmuster/bin/python3 /opt/linuxmuster/bin/ajenti-panel -d --stock-plugins --plugins /usr/lib/linuxmuster-webui/plugins

[Install]
WantedBy=multi-user.target
