Source: linuxmuster-webui7
Section: admin
Priority: optional
Maintainer: Andreas Till <andreas.till@netzint.de>
Build-Depends: debhelper (>= 4.0.0), fakeroot

Package: linuxmuster-webui7
Architecture: all
Depends: python-pip, python-dev, python-lxml, libffi-dev, libssl-dev, libjpeg-dev, libpng-dev, uuid-dev, python-dbus, python-augeas, python-apt, ntpdate, libldap2-dev, libsasl2-dev, python-ldap
Homepage: www.linuxmuster.net
Recommends: sophomorix-samba
Description: next generation web-based administration tool for linuxmuster.net v7.x
