aj==2.2.3
ajenti-panel==2.2.3
ajenti.plugin.ace==0.32
ajenti.plugin.core==0.103
ajenti.plugin.dashboard==0.41
ajenti.plugin.filesystem==0.49
ajenti.plugin.plugins==0.49
ajenti.plugin.settings==0.33
ajenti.plugin.session-list==0.6
configparser==3.5.0
cryptography==39.0.1
dateutil
dpath==2.0.6         # used for getSophomorixValue
gssapi==1.7.3
isc_dhcp_leases
krb5==0.3.0
paramiko==2.10.1
pyspnego==0.5.2
python-ldap
python-magic==0.4.15 # used to determine encoding in linbo files and csv uploads
requests
reconfigure
scrypt
simplejson==3.17.0
smbprotocol==1.9.0
unicodecsv==0.14.1
xmltodict
