aj==2.1.44
ajenti-panel==2.1.44
ajenti.plugin.ace==0.31
ajenti.plugin.auth-users==0.32
ajenti.plugin.core==0.100
ajenti.plugin.dashboard==0.40
ajenti.plugin.filesystem==0.48
ajenti.plugin.passwd==0.25
ajenti.plugin.plugins==0.48
ajenti.plugin.settings==0.31
ajenti.plugin.session-list==0.5
configparser==3.5.0
dpath==2.0.6         # used for getSophomorixValue
gevent==1.5.0
gssapi==1.7.3
isc_dhcp_leases
paramiko==2.10.1
python-ldap
python-magic==0.4.15 # used to determine encoding in linbo files and csv uploads
requests
scrypt
simplejson==3.17.0
smbprotocol[kerberos]
unicodecsv==0.14.1
xmltodict
