aj==2.1.33
ajenti-panel==2.1.33
ajenti.plugin.ace==0.26
ajenti.plugin.auth-users==0.29
ajenti.plugin.core==0.92
ajenti.plugin.dashboard==0.36
ajenti.plugin.filesystem==0.43
ajenti.plugin.passwd==0.22
ajenti.plugin.plugins==0.43
ajenti.plugin.settings==0.25
ajenti.plugin.session-list==0.1
gevent==1.3.7
unicodecsv==0.14.1
configparser==3.5.0
dpath==1.4.2         # used for getSophomorixValue
python-magic==0.4.15 # used to determine encoding in linbo files and csv uploads
